gmon.out
bin/dpa
bin/reach
bin/vwn

*.a
*.o
*.d
.*
.git/*
*/tmp.txt
.d/*
work_*
work_*/*
#examples/*

src/*
*/smt_queries/*
smt_queries/*
output/*

# But not these files
!.gitignore
!.travis/*
!.travis.yml
!examples/averroes*
!examples/bm/*
!examples/scripts/*
