# bin/dpa
# bin/reach
# bin/vwn

.vscode/
.idea/

build/bin*/dpa
build/bin*/reach*
build/bin*/vwn

hwmcc*/
deps/*
output/*
xtras/*/

*.a
*.o
*.d
.fuse*
*.log
*.*project
*/tmp.txt
*/.settings/*
.settings/*
.d/*
gmon.out
.*DS_Store

# But not these files
!.gitignore
!.travis/*
!.travis.yml
!deps/*.sh
