name: Build AVR on Ubuntu 20.04

# Controls when the workflow will run
on: [push, pull_request, workflow_dispatch]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Build AVR and all dependencies
        run: |
          chmod +x "deps/build_deps.sh"
          chmod +x "build.sh"
          chmod +x "build/avr"
          ./build.sh
